@import "tailwindcss";

/* globals.css */
/* GLOBAL DARK THEME */
html,
body {
  background-color: #121212;
  color: #ededed;
}
@media (max-width: 1090px) {
  .hide-at-1090 {
    display: none !important;
  }
}
